.body {
  height: 100vh;
}

.mainContainer {
  background-color: #00a9e0;
  padding: 20px;

  .img-fluid.mb-4 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }

  .mainParagraph {
    background-color: white;
    border-radius: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .titleText {
    text-align: center;
    margin-bottom: 20px;
  }

  .subtitleText {
    text-align: center;
    margin-bottom: 20px;
  }

  .formFirstName {
    margin-bottom: 20px;
  }

  .formLastName {
    margin-bottom: 20px;
  }

  .formEmail {
    margin-bottom: 20px;
  }

  .formRelation {
    margin-bottom: 20px;
  }

  .formMessage {
    margin-bottom: 20px;
  }

  .formLabel {
    font-weight: 700;
  }
}
